# Ignore Python virtual environment
venv/

# Ignore database files
db.sqlite3

# Ignore compiled Python files
__pycache__/
*.pyc

# Ignore log files
*.log

# Ignore environment files (if using .env for secrets)
.env
